In [21]:
import pandas as pd
Cou = pd.read_csv('/Users/julie/Desktop/labs/project-canopy-ds/clean_data/speciesList_in_CRB_Countries.csv',index_col = 0)
Hab = pd.read_csv('/Users/julie/Desktop/labs/project-canopy-ds/clean_data/speciesList_in_CRB_Habitats.csv',index_col = 0)

In [22]:
Cou.head()

,assessmentId,internalTaxonId,scientificName,code,name,presence,origin,seasonality,formerlyBred
1,519491,137074,Paraphytus africanus,CD,"Congo, The Democratic Republic of the",Presence Uncertain,Native,"[""Resident""]",Unknown
4,520806,137161,Eodrepanus fastiditus,CD,"Congo, The Democratic Republic of the",Extant,Native,"[""Resident""]",Unknown
21,521021,137173,Onthophagus lacustris,CD,"Congo, The Democratic Republic of the",Presence Uncertain,Native,"[""Resident""]",Unknown
24,521177,137186,Onthophagus pugionatus,CD,"Congo, The Democratic Republic of the",Extant,Native,"[""Resident""]",Unknown
37,522595,137281,Pedaria ovata,CD,"Congo, The Democratic Republic of the",Extant,Native,"[""Resident""]",Unknown

In [23]:
Hab.head()

,assessmentId,internalTaxonId,scientificName,code,name,majorImportance,season,suitability
0,519491,137074,Paraphytus africanus,1.6,Forest - Subtropical/Tropical Moist Lowland,Unknown,resident,Suitable
3,520806,137161,Eodrepanus fastiditus,1.5,Forest - Subtropical/Tropical Dry,Unknown,resident,Unknown
5,521021,137173,Onthophagus lacustris,1.5,Forest - Subtropical/Tropical Dry,Unknown,resident,Suitable
7,521177,137186,Onthophagus pugionatus,1.5,Forest - Subtropical/Tropical Dry,Unknown,resident,Suitable
8,522595,137281,Pedaria ovata,1.6,Forest - Subtropical/Tropical Moist Lowland,Unknown,resident,Suitable

In [30]:
Cou['code'].value_counts()

CD    4861
CM    3811
GA    2408
CG    2375
CF    2119
Name: code, dtype: int64

In [31]:
Hab['code'].value_counts()

1.6     3117
5.1     2611
5.7     1510
5.8     1397
5.5     1291
5.2     1243
1.9     1242
5.4     1238
1.5      764
5.6      626
14.6     396
1.8      365
1.7      192
5.3      169
5.9      156
Name: code, dtype: int64

In [24]:
Cou.describe()

       assessmentId  internalTaxonId
count  1.557400e+04     1.557400e+04
mean   7.298725e+07     3.460500e+07
std    5.369451e+07     5.035312e+07
min    5.194910e+05     5.610000e+02
25%    1.099913e+07     1.606435e+05
50%    8.756981e+07     2.006675e+05
75%    1.201603e+08     4.595443e+07
max    1.611787e+08     1.586922e+08

In [25]:
Cou.shape

(15574, 9)

In [26]:
Cou.isnull().sum()

assessmentId       0
internalTaxonId    0
scientificName     0
code               0
name               0
presence           0
origin             0
seasonality        0
formerlyBred       0
dtype: int64

In [29]:
Hab['majorImportance'].value_counts()

Unknown    10424
Yes         3372
No          2521
Name: majorImportance, dtype: int64